body {
  margin: 0;
  padding: 0;
  background-color: #fdfdf8;
  font-family: "Roboto", Arial, sans-serif;
}
/*Loader*/
#loader {
  border: 12px solid #dddddd;
  border-radius: 50%;
  border-top: 12px solid #ec6408;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/*Map container*/
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin-top: 6rem;
}

/*Modes Toggler*/
.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.4rem 0;
}
.switch-toggle {
  width: 14rem;
}

.switch-toggle label:not(.disabled) {
  cursor: pointer;
}

.switch-toggle a {
  background-color: #f9d1b5 !important;
}

/*Search bar*/
.searchWrapper {
  width: 100%;
  max-width: 30rem;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#city {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: 1px solid #ec6408;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

.searchButton {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

.searchButton:hover {
  cursor: pointer;
}

/*Snackbar*/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
